{{extend 'layout.html'}}
{{ from gluon.serializers import json }}
<script type="text/javascript">
    jQuery(document).ready(function(){
        //Inserindo o calendario
        jQuery("#calendar").fullCalendar({
            //Cabeçalho do calendário
            header: {
                left: 'prev,next today',
                center: 'title',
                right: 'month,agendaWeek,agendaDay',
            },
            //Texto em portugues dos botões que visualizacao de horarios
            buttonText: {
                today: 'Hoje',
                month: 'Mês',
                week: 'Semana',
                day: 'Hoje'
            },
            editable: false,
            events: [
              {{ for horario in horarios: }}
                {
                  title: '{{=(horario.cliente.nome).replace("'","\\'")}}',
                  allDay: false,
                  start: '{{=horario.data.strftime("%Y-%m-%d")}} {{=horario.hora.strftime("%H:%M")}}',
                  url: '{{=URL(request.application,"agenda","atualizar",args=[horario.id])}}'
                },
              {{ pass }}
            ]
        });
        // Traducao do meses completo
        jQuery("#calendar").fullCalendar.monthNames(
            [
            'Janeiro','Fevereiro','Março','Abril',
            'Maio','Junho','Julho','Agosto','Setembro',
            'Outubro','Novembro','Dezembro'
            ]
        );
        
        //Traducao dos meses abreviado
        jQuery("#calendar").fullCalendar.monthAbbrevs(
            [
            'Jan','Fev','Mar','Abr','Mai','Jun',
            'Jul','Ago','Set','Out','Nov','Dez'
            ]
        );
        
        //Traducao dos nomes da semana completo
        jQuery("#calendar").fullCalendar.dayNames(['Segunda','Terça','Quarta','Quinta','Sexta']);
        
        //Traducao dos nomes da semana abreviado
        jQuery("#calendar").fullCalendar.dayAbbrevs(['Seg','Ter','Qua','Qui','Sex']);        
    });
</script>
<h2>Agenda do Usuário: {{=session.auth.user.username.upper()}}</h2>
<div id="calendar"></div>
